## Authentication
PARTNERID='KAF_ID' # AKA KAF ID
APPTOKENID='APP_TOKEN_ID'
APPTOKENVALUE='APP_TOKEN_VALUE'
EXPIRYSECONDS='86400' # 24 hours (default)

## If FILTERJSON appears multiple times, the value specified LAST is used.

## Search example 1: Media ID ("mediaId")
FILTERJSON='{"type":"mediaId","value":"MEDIAENTRYID"}'

## Search example 2: Category text ("category")
COURSEID='123456' # example of parameter substitution in `.env`
FILTERJSON='{"type":"category","value":"root>site>courses>${COURSEID}"}'

## Only whole minutes are supported by pysrt
CHUNKMINUTES='2' # 2 minutes (default)

## Template for URL used in `source` metadata of langchain `Document` objects
URLTEMPLATE="https://example.edu/v/{mediaId}?t={startSeconds}"

