## Authentication
PARTNERID='KAF_ID' # AKA KAF ID
APPTOKENID='APP_TOKEN_ID'
APPTOKENVALUE='APP_TOKEN_VALUE'
EXPIRYSECONDS='86400' # 24 hours (default)

## Only whole minutes are supported by pysrt
CHUNKMINUTES='2' # 2 minutes (default)

## Search parameter example 1
MEDIAENTRYID='MEDIAENTRYID'

## Search parameter example 2
COURSEID='123456' # example of parameter substitution in `.env`
CATEGORYTEXT="root>site>courses>${COURSEID}"

## Template for URL used in `source` metadata of langchain `Document` objects
URLTEMPLATE="https://example.edu/v/{mediaId}?t={startSeconds}"

